header{
    background-color: blueviolet;
    display: flex;
    width: 100%;
}
header .logo{
    margin-left: 70px;
}
header ul{
    display: flex;
    justify-content: end;
    width: 85%;
    align-items: center;
}
header ul li{
    margin-right: 30px;
    font-size: 18px;
}
header ul li a{
    color: white;
}
.corpo{
    background-color: brown;
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: "poppins", cursive;
}
