@media (max-width: 1220px){
    
    header{
        width: 100%;
    }
    header .logo{
        max-width: 50px;
        margin: 0;

    }
    .corpo{
        flex-direction: column-reverse;
        height: 1000px;
    }
    .corpo .principal{
        font-size: 19px;
        width: 100%;
        height: 1100px;
        margin: 0;
    }
    .corpo .principal h2{
        font-size: 50px;
    }
    .corpo .principal p{
        font-size: 20px;
    }
    .corpo .secundario{
        width: 100%;
        margin-top: 25px;
        
    }
    .corpo .secundario .imagem-grande{
        width: 150px;
        height: 280px;
        margin: 0; 
    }
    .thumb{
        width: 100%;
        height: 10%;
        margin: 0;
    }
    .redes{
        position: absolute;
        flex-direction: column;
        margin: 0 0 690px 10px;
    }

}