@media (max-width: 1299px){
    
    header{
        width: 115%;
        height: 4em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .logo{
        max-width: 50px;
        margin: 0;
        margin-left: 15px;
    }

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .menu-toggle{
        font-size: 24px;
        color: #fff;
        cursor: pointer;
    }
    .menu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: none;
    }
    .menu li {
        margin: 10px 0;
        text-align: center;
    }
    .menu li a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
    .menu li a:hover{
        color: #ff0000;
    }
    
    .corpo{
        display: flex;
        flex-direction: column-reverse;
        height: 51em;
        margin: 0;
        margin-left: 5px;
    }

    .corpo .principal{
        width: 115%;
        height: 55%;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .corpo .principal h2{
        font-size: 40px;
        margin: 0;
        margin-top: 20px;
    }

    .principal p{
        font-size: 9px;
        margin: 0;
        margin-top: 10px;
    }

    .principal a{
        margin: 0;
        margin-top: 25px;
    }

    .corpo .secundario{
        width: 115%;
        height: 45%;
        margin: 0;
    }

    .imagem-grande{
        max-width: 140px;
        height: 290px;
        margin: 0;
        margin-top: 25px;
    }

    .thumb{
        width:115%;
        margin: 0;
        margin-bottom: 22%;
    }

    .redes{
        position: absolute;
        flex-direction: column;
        margin: 0;
        margin-bottom: 120%;
    }
}